<div class="quotinator">
	<h1>Quotinator</h1>
</div>

<div class="quote_box">		

	<p class="quote_text">
		<%= @quote.citation %>
		<br><br>
		<em>
			&emsp;&emsp;- <%= @quote.author %>
		</em>
	</p>

	
</div>
<br><br>
<div class="refresh_btn_div">
	<%= button_to "Teach me, master.", root_path, :method => :get, class:"refresh_btn" %>
</div>
<div class="cat">
	<% if @quote.citation == "Longcat is looooooooong!" %>
	<div  id="jscat" style="display:none;">
 		<img src="long.png" alt="cat">
 	</div>
 	<% end %>
</div>

