/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .page_background {
 	background: #525252;
 }

 .quotinator {
 	font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
 	font-size: 30px;
 	color: #393939;
 	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
 	
 }

 .cat {
 	-webkit-animation: cat-appear 2s;
 	-moz-animation: cat-appear 2s;
 	-o-animation: cat-appear 2s;
 	-ms-animation: cat-appear 2s;
 	animation: cat-appear 2s;
 }

 .quote_box {
 	text-align: left;
 	max-width: 500px;
 	height: 140px;
 	margin-left:auto;
 	margin-right:auto;
 	padding: 30px;
 	background: #EFEFEF;
 	background-image: linear-gradient(to bottom, #EFEFEF, #BFBFBF);
 	border:2px solid;
 	border-radius:25px;
 	box-shadow: 10px 10px 5px #272727;


 }

 .quote_text { 	
 	text-shadow: 1px 1px 2px #A3A3A3;
 	-webkit-animation: color-change 1s;
 	-moz-animation: color-change 1s;
 	-o-animation: color-change 1s;
 	-ms-animation: color-change 1s;
 	animation: color-change 1s;
 }

 .refresh_btn_div {
 	text-align: center;    
 }

 .refresh_btn {
 	box-shadow: 10px 10px 5px #272727;
 	height: 50px;
 	width: 170px; 
 	background: #EFEFEF;
 	background-image: linear-gradient(to bottom, #EFEFEF, #BFBFBF);
 	text-shadow: 1px 1px 3px #A3A3A3;
 	font-family: Arial;
 	color: #000000;    
 	padding: 10px 20px 10px 20px;
 	text-decoration: none;  
 	border:2px solid black;
 	border-radius:15px;  
 	font-family:"Times New Roman";
 }

 .refresh_btn:hover {
 	background: #a6a7a8;
 	text-decoration: none;
 }

 .refresh_btn:active {
 	box-shadow: 0px 0px 0px;
 	border: 5px inset black;
 	text-decoration: none;
 	background: #858686;
 }


 @-webkit-keyframes color-change {
 	0% { color: #E6E6E6; }
 	50% { color: gray; }
 	100% { color: black; }
 }
 @-moz-keyframes color-change {
 	0% { color: #E6E6E6; }
 	50% { color: gray; }
 	100% { color: black; }
 }
 @-ms-keyframes color-change {
 	0% { color: #E6E6E6; }
 	50% { color: gray; }
 	100% { color: black; }
 }
 @-o-keyframes color-change {
 	0% { color: #E6E6E6; }
 	50% { color: gray; }
 	100% { color: black; }
 }
 @keyframes color-change {
 	0% { color: #E6E6E6; }
 	50% { color: gray; }
 	100% { color: black; }
 }




 @-webkit-keyframes cat-appear {
 	0% { opacity:0.0; }
 	50% { opacity:0.5; }
 	100% { opacity:1.0; }
 }
 @-moz-keyframes cat-appear {
 	0% { opacity:0.0; }
 	50% { opacity:0.5; }
 	100% { opacity:1.0; }
 }
 @-ms-keyframes cat-appear {
 	0% { opacity:0.0; }
 	50% { opacity:0.5; }
 	100% { opacity:1.0; }
 }
 @-o-keyframes cat-appear {
 	0% { opacity:0.0; }
 	50% { opacity:0.5; }
 	100% { opacity:1.0; }
 }
 @keyframes cat-appear {
 	0% { opacity:0.0; }
 	50% { opacity:0.5; }
 	100% { opacity:1.0; }
 }

